.app {
    overflow: hidden;
}

.header {
    height: var(--header-height);
    background-image: linear-gradient(0deg, #FE6433, #F53E2D);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    height: var(--navbar-height);
}

.header__navbar-list {
    list-style-type: none;
    padding-left: 0;
    margin: 8px 0 0 0;
    display: flex;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 300;
    text-decoration: none;
    color: var(--white-color);
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    align-items: center;
    display: inline-flex;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon:hover {
    color: rgba(255,255,255,0.8);
    cursor: pointer;
}

.header__navbar-item {
    margin: 0 9px;
    position: relative;
    min-height: 18px;
}

.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}

.header__navbar-item--bold {
    font-weight: 450;
}

.header__navbar-item--separate::after {
    content: "";
    position: absolute;
    height: 18px;
    top: 50%;
    right: -10px;
    border-right: 1px solid gray;
    transform: translateY(-50%);
}

/* User Section */

.header__navbar-user {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin-right: 4px;
    border: 1px solid rgba(0,0,0,0.2);
}

.header__navbar-user-name {
    font-size: 1.5rem;
    font-weight: 500;
}

.header__navbar-user-menu {
    position: absolute;
    top: calc(100% + 4px);
    right: 0;
    list-style: none;
    background-color: var(--white-color);
    z-index: 5;
    width: 160px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    margin: auto;
    padding: 0;
    transform-origin: calc(100% - 40px) -10px;
    box-shadow: 0 1px 3.125rem rgba(0,0,0,0.2);
    /* display: none; */
}

.header__navbar-user-menu::before {
    position: absolute;
    top: -10px;
    right: 0;
    content: "";
    height: 10px;
    width: calc(100% - 35px);
    /* background-color: black; */
}

.header__navbar-user-menu::after {
    content: "";
    position: absolute;
    top: -10px;
    right: 40px;
    width: 0;
    height: 0;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 12px solid var(--white-color);
    z-index: -1;
}

/* .header__navbar-user:hover
.header__navbar-user-menu {
    display: block;
} */

.header__navbar-user-item {
    width: 100%;
}

.header__navbar-user-item:hover {
    background-color: #DDD;
}

.header__navbar-user-item a{
    text-decoration: none;
    font-weight: 450;
    color: var(--text-color);
    width: 100%;
    display: block;
    padding: 8px 20px;
}

.header__navbar-user-item--separate {
    border-top: 1px solid var(--border-color);
}

/*  */

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon-link:nth-child(2) {
    margin-left: 3px;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/*Header QR Code */

.header__qr {
    background: var(--white-color);
    width: 186px;
    position: absolute;
    top: calc(100% + 4px);
    /* left: 50%;
    transform: translateX(-50%); */
    left: 0%;
    padding: 5px;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(50,50,50,0.2);

    display: none;
    z-index: 1;
    animation: fadeIn 0.2s ease-in;
}

.header__qr::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    top: -16px;
    left: 0px;
}

.header__qr-img {
    width: 100%;
}

.header__qr-app {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}

.header__qr-link:nth-child(1) {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header__qr-link:nth-child(3) {
    margin-left: 11px;
    margin-top: 4px;
}

.header__qr-download-img {
    height: 17px;
}

/*Header Notification */

.header__notify {
    position: absolute;
    top: calc(100% + 4px);
    right: 0;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solid rgba(0,0,0,0.1);
    cursor: default;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth 0.2s ease-in;
    will-change: opacity, transform;
    display: none;
    z-index: 1;
    border-radius: 2px;
}

.header__navbar-item:hover .header__notify::after {
    content: "";
    border-style: solid;
    border-width: 20px 25px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 1px;
    top: -28px;
}

.header__navbar-item:hover .header__notify {
    display: block;
}

.header__navbar-item--has-notify::before {
    display: block;
    content: "";
    height: 14px;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    cursor: default;
    /* background: black; */
}

@keyframes headerNotifyGrowth {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}


.header__notify-header {
    background: var(--white-color);
}

.header__notify-header h3 {
    height: 40px;
    color: #888;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.header__notify-list {
    padding-left: 0;


}

.header__notify-item {
    display: flex;
    cursor: pointer;
    align-items: start;
}

.header__notify-item:hover {
    background: #F7F7F7;
}

.header__notify-item--viewed {
    background: var(--primaty-color-rgba);

}

.header__notify-link {
    display: flex;
    padding: 3px 12px 3px 12px;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.header__notify-img-wrap {
   
}

.header__notify-img {
    width: 48px;
    height: 30px;
    object-fit: contain;
}

.header__notify-info {
    margin: 12px;
    line-height: 1.7;
}

.header__notify-name {
    display: block;
    font-size: 1.3rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.5rem;
    max-height: 3rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.header__notify-decription {
    display: block;
    font-size: 1.2rem;
    color: #756F6E;
    margin-top: 4px;
    line-height: 1.5rem;
    max-height: 4.5rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 8px;
    margin: auto;
    font-weight: 400;
    font-size: 1.4rem;
}

/* Authen modal */
.auth-form {
    width: 500px;
    border-radius: 5px;
    background: var(--white-color);
    overflow: hidden;
}

.auth-form__container {
    padding: 0 25px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}

.auth-form__form {

}

.auth-form__group {

}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #777;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.7rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
}

/* Control Buttons */

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: end;
}

.auth-form__control-back {
    margin-right: 8px;
    background-color: var(--white-color);
}

.auth-form__socials {
    background-color: #F5F5F5;
    padding: 14px 30px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn--with-icon {
    background-color: #F5F5F5;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials--fb
.auth-form__socials-icon {
    color: var(--white-color);
}

.auth-form__socials--fb {
    background-color: #3A5A98;
    color: var(--white-color);
}

.auth-form__socials--gg {
    background-color: var(--white-color);
    color: #555;
}

.auth-form__socials-title {
    margin: 0 36px;
}

/* Auth Form Login */

.auth-form__help {
    display: flex;
    justify-content: end;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.auth-form__help-separate {
    display: block;
    border-left: 1px solid #EAEAEA;
    height: 22px;
    margin: 0 16px;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}

/* Menu bar on mobile */

.menu-bar-icon {

}

.menu-bar-mobile {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.1);
    display: none;
}

@keyframes fadeInY {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes fadeInX {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateX(0%);
    }

    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}

.h-icon__wrap {
    display: flex;
    align-items: center;
}

.menu-bar-mobile__icon {
    font-size: 2rem;
    color: var(--white-color);
}

.h-search-icon__icon {
    font-size: 1.6rem;
    color: var(--white-color);
    margin-left: 20px;
}

.menu-bar-mobile__wrap {
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    padding-left: 20px;
    font-size: 1.2rem;
    width: 30%;
    height: 100%;
    transform: translateX(-100%);
}

.menu-mobile__label {

}

.menu-mobile__item {
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 16px;
}




/* Header search */

.header-search {
    height: var(--header-search-height);
    display: flex;
    align-items: center;
    padding: 0 8px;
}

.header__logo {
    width: 200px;
}

.header__logo-link {
    color: transparent;
    text-decoration: none;
}

.header__logo-img {
    width: 150px;
    color: var(--white-color);
}

.header__search-inp {
    height: 40px;
    background-color: var(--white-color);
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__cart {
    width: 150px;
    text-align: center;
    padding-right: 24px;
}

.header__cart-wrap:hover
.header__cart-list {
    display: block;
    transform: scale(1);
    opacity: 1;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 8px 0 24px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.4rem;
    margin-top: 4px;
}

.header__cart-list {
    --growth-from: 0;
    --growth-to: 1;
    position: absolute;
    background-color: var(--white-color);
    top: calc(100% + 7px);
    right: calc(50% - 20px);
    width: 400px;
    border: 1px solid #CCC;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem rgba(0,0,0,0.2);
    /* display: none; */
    transform-origin: calc(100% - 20px) top;
    /* animation: fadeIn ease-in 0.2s, growth ease-in 0.2s; */
    transform: scale(0);
    opacity: 0;
    transition: all 200ms;
    cursor: default;
    z-index: 1;
}

.header__cart-list::before {
    content: "";
    position: absolute;
    top: -6px;
    right: 7px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 8px solid var(--white-color);
    /* z-index: 5; */
    width: 0px;
    height: 0px;
}
/* Bridge */
.header__cart-list::after {
    content: "";
    width: 70px;
    height: 10px;
    /* background-color: black; */
    position: absolute;
    top: -10px;
    right: 0;
    cursor: pointer;    
}
.header__cart-list--empty
.header__cart-empty {
    width: 60%;
    display: block;
    /* For empty cart */
    /* display: none; */
}

.header__cart-empty {
    width: 60%;
    /* For empty cart */
    display: none;
    margin: auto;
    z-index: 1;
}

.header__cart-list--empty {
    padding: 20px 0;
}

.header__cart-list--empty
.header__cart-list-empty-mess {
    display: block;
}

.header__cart-list-empty-mess {
    margin-top: 16px;
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color);
    /* For empty cart */
    display: none;
    z-index: 1;
}

/* Cart Notice */

.header__cart-wrap-notice {
    position: absolute;
    top: -4px;
    right: -4px;
    padding: 1px 7px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    background-color: var(--white-color);
    border-radius: 1rem;
    border: 2px solid #EE4D2D;
    color: var(--primary-color);
}

/* Cart with products */

.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #777;
    font-weight: 400;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    max-height: 55vh;
    overflow-y: auto;
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background: #F8F8F8;
}

.header__cart-img {
    width: 50px;
    height: 42px;
    margin: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #E8E8E8;
}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name {
    flex: 1;
    text-align: left;
    font-size: 1.3rem;
    font-weight: 540;
    color: var(--text-color);
    margin: 0;
    line-height: 2rem;
    max-height: 4rem;
    overflow-y: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    padding-right: 6px;
    margin-bottom: 5px;
}

.header__cart-item-wrap {

}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-multiply {
    color: #757575;
    font-size: 0.8rem;
    padding: 0 2px;
}

.header__cart-item-qnt {
    color: #757575;
    font-size: 1.2rem;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
}

.header__cart-item-description {
    text-align: left;
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
}

.header__cart-item-remove {
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 400;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-view {
    float: right;
    margin: 0 12px 12px 0;
}

.header__cart-view:hover {
    opacity: 0.9;
}

/* Search history */

.header__search-inp-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 4px #BBB;
    display: none;
    overflow: hidden;
    z-index: 1;
}

.header__search-history-heading {
    margin: 6px 10px;
    font-size: 1.4rem;
    color: #AAA;
    font-weight: 450;
    cursor: default;
}

.header-history__list {
    padding-left: 0;
    list-style: none;
    margin: 5px 0 0 0;
}

.header-history__item {
    height: 38px;
    padding: 0 10px;
}

.header-history__item:hover {
    background-color: #F0F0F0;
}

.header-history__item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}
.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.45rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

.header__search-select {
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
    cursor: pointer;
    padding: 8px 0;
}

.header__search-select-icon {
    font-size: 1.2rem;
    color: #4a4a4a;
    margin: 0 12px 0 8px;
    /* position: relative;
    top: 0px; */
}

.header__search-btn {
    height: 34px;
    width: 60px;
    background-color: var(--primary-color);
    margin-right: 3px;
    border: none;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
}

.header__search-btn:hover {
    background-color: #fb6445;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-select:hover
.header__search-option {
    display: block;
}

.header__search-option {
    position: absolute;
    right: 0;
    top: calc(100% + 4px);
    width: 132px;
    box-shadow: 0 1px 1px #ddd;
    padding-left: 0;
    border-radius: 2px;
    /* overflow: hidden; */
    display: none;
    animation: fadeIn 0.2s ease-in;
    z-index: 1;
}

.header__search-option::before {
    content: "";
    display: block;
    height: 15px;
    position: absolute;
    top: -15px;
    width: 100%;
    /* background-color: black; */
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 8px 8px;
    list-style-type: none;
    /* text-align: right; */
}

.header__search-option-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header__search-option-item i {
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
    z-index: 1;
}

.header__search-option-item--active i  {
    display: inline-block;
}

/* Header sort on tablet and mobile */

.header__sort-bar {
    position: fixed;
    top: var(--header-height);
    height: 32px;
    left: 0;
    right: 0;
    display: flex;
    list-style: none;
    background-color: var(--white-color);
    margin-top: 0;
    padding-left: 0;
    border-bottom: 1px solid var(--border-color);
    box-shadow: 0 1px 2px rgba(0,0,0,0.02);
    display: none;
}

.header-sort__item {
    text-align: center;
    flex: 1;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    color: var(--black-color);
}

.header-sort__item--active {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.header-link__price {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-sort__link {
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
    line-height: 32px;
    position: relative;
}

.header-item-wrap {
    margin-left: 4px;
    font-size: 0.75rem;
    position: relative;
    top: -1px;
}

.header-item-wrap i {
    display: block;
    height: 5px;
}

.header-sort__link::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -1px;
    height: 60%;
    border-right: 1px solid var(--border-color);
    transform: translateY(-50%);
}

.header-sort__link:last-child
.header-sort__link::after {
    display: none;
}


/* Category Navbar */

.mobile-category {
    position: fixed;
    top: calc(var(--header-height) + 32px);
    right: 0;
    left: 0;
    height: 44px;
    padding: 5px 5px;
    z-index: 1;
    background-color: var(--white-color);
}

.m-cate-list {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    list-style: none;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0 5px;
    margin: 0;
    height: 100%;
}

.m-cate-list::-webkit-scrollbar {
    display: none;
}

.m-cate-list__item {
    min-width: 100px;
    height: 100%;
    margin: 0 2px;
    border-radius: 5px;

}

.m-cate-list__item:nth-child(3n) {
    background-color: #88cf81;
}

.m-cate-list__item:nth-child(3n+1) {
    background-color: #87afd8;
}

.m-cate-list__item:nth-child(3n+2) {
    background-color: #76c9bd;
}

.m-cate-item__link {
    display: block;
    height: 100%;
    text-decoration: none;
    line-height: 1.6rem;
    padding: 2px 12px;
    text-align: center;
    color: var(--white-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    user-select: none;
    -webkit-user-select: none;
}


/* Content Area */

.app__container {
    background-color: #F5F5F5;
}

.app__content {
    padding-top: 24px;
    display: flex;
}

.category {
    border-radius: 2px;
}

.category__heading {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 550px;
    padding: 12px 12px 0 6px;
    margin-top: 0;
    text-transform: uppercase;
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 2px;
    margin-left: 2px;
}

.category-list {
    padding: 0 0 8px 0;
    list-style: none;
    margin-left: 15px;
}

.category-item {
    position: relative;
}

.category-item::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 8%;
    right: 14%;
    border-top: 1px solid var(--border-color);
    
}

.category-item--active
.category-item__link {
    color: var(--primary-color);
    position: relative;
}

.category-item--active
.category-item__link::before {
    content: "";
    position: absolute;
    /* top: 8px; */
    top: 50%;
    transform: translateY(calc(-50% - 1px));
    left: 5px;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-left: 4px solid var(--primary-color);
    border-bottom: 4px solid transparent;
}

.category-item--active
.category-item__link:hover {
    transform: none;
}

.category-item__link {
    display: block;
    font-size: 1.4rem;
    text-decoration: none;
    padding: 8px 12px;
    color: var(--text-color);
    transition: transform 0.2s;
}

.category-item__link:hover {
    color: var(--primary-color);
    transform: translateX(10px);
}

/* Filter Area in Shop */

.home-filter {
    background-color: rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 12px 22px;
    border-radius: 2px;
}

.home-filter__label {
    font-size: 1.4rem;
    color: #555555;
    margin-right: 16px;
}

.home-filter__btn  {
    margin-right: 12px;
    min-width: 90px;
    box-shadow: 0 2px rgba(0,0,0,0.05);
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 20px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    display: flex;
    align-items: center;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 2px rgba(0,0,0,0.05);
}

.home-filter__page-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border: 1px solid #EEE;
    text-decoration: none;
    background-color: var(--white-color);
}

.home-filter__page-btn:first-child {
    border-right: none;
}

.home-filter__page-icon {
    font-size: 1.1rem;
    color: #555;
}

.home-filter__page-btn--disable {
    background-color: #F9F9F9;
    cursor: default;
}
.home-filter__page-btn--disable
.home-filter__page-icon {
    color: #ccc;
}
/* Product */

.home-product {
    margin-top: 10px;
}

.product {
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    /* overflow: hidden; */
    margin-bottom: 10px;
    position: relative;
    transition: transform linear 0.1s;
    text-decoration: none;
    display: block;
}

.product:hover {
    box-shadow: 0 1px 20px 0 rgba(0,0,0,0.05);
  transform: translateY(-1px);
}

.product__img {
    padding-top: 100%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-image: no-repeat;
    background-size: cover;
    background-position: top center;
}

.product__name {
    margin: 10px;
    font-size: 1.2rem;
    font-weight: 450;
    color: var(--text-color);

    /* Hidden and add "..." after overflow */
    line-height: 1.6rem;
    height: 3.2rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* text-overflow: ellipsis;
    white-space: nowrap; */
}

.product__price {
    text-align: left;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
}

.product__price-old {
    margin-right: 10px;
}

.product-price-old__value {
    text-decoration: line-through;
    font-size: 1.2rem;
    color: #555;
}

.product__price-current {
    color: var(--primary-color);
    font-size: 1.25rem;
}

.product__action {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    line-height: 1rem;
}

.product__sold {
    position: relative;
    top: 1px;
    /* padding: 6px 0; */
    margin-left: 6px;
}

.product__action-like {
    display: flex;
    align-items: center;
}

.product__action-like--not {

}

i.product__action-like--liked-icon {
    display: none;
}

.product__action-like--liked
.product__action-like--not-icon {
    display: none;
}

.product__action-like--liked 
.product__action-like--liked-icon {
    display: inline-block;
    color: var(--primary-color);
}

.product__rating {
    transform-origin: right;
    transform: scale(0.8);
    color: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    margin-left: auto;
}

.product__origin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 6px 10px;
    font-size: 1.2rem;
    color: #555;
}

.product__origin-name {
    
}

.product__origin-country {

}

.product__state-label {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: var(--primary-color);
    padding: 0 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-weight: 500;
    line-height: 1.6rem;
    font-size: 1.2rem;
}

.product__state-label::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.product__state-icon {
    font-size: 0.9rem;
    margin: 0 1px;
    color: var(--white-color);

}

.product__state-state {
    font-size: 1.1rem;
    font-weight: 450;
    color: var(--white-color);
}

/* Sale off  */

.product__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background-color: #efc727;
    text-align: center;
    opacity: 0.95;
    border-top-right-radius: 2px;
}

.product__sale-off::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    border-style: solid;
    border-width: 0 20px 5px 20px;
    border-color: transparent #efc727 transparent #efc727;

}

.product-sale__percent {
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: 500;
    padding-top: 3px;
    display: block;
}

.product-sale__label {
    color: var(--white-color);
    font-size: 1.2rem;
    font-weight: 500;
}

/* Home Page Pagination */

.pagination__home-page {
    margin: 38px 0 42px;
}

/* Footer Area */
.footer--1 {
    border-top: 4px solid var(--primary-color);
}

.footer-info {
    margin: 40px 0;
    background-color: var(--white-color);
}

.footer-heading {
    font-size: 1.2rem;
    margin-top: 0px;
    font-weight: 550;
    text-transform: uppercase;
    color: #737373;
}

.footer-content {
    list-style: none;
    margin: 16px 0 0;
    padding: 0;
    
}

.footer-content__item {
    margin-top: 8px;
}

.footer-item__link {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    color: #969597;
}

.footer-item__icon  {
    color: #4a4a4a;
    margin-right: 4px;
}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer-item__link:hover
.footer-item__comp {
    color: var(--primary-color);
}

.footer-apps {
    display: flex;
    margin-top: 18px;
}

.footer__qr-img {
    width: 86px;
    height: 86px;
    border: 1px solid rgba(0,0,0,0.09);
}

.footer__qr-app {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 8px;
}

.footer__qr-link {

}

.footer__qr-download-img {
    height: 20px;
}

/* Footer 2 */

.footer-policy-wrap {
    background-color: #f5f5f5;
}

.footer-policy {
    padding: 40px 0;
}

.policy-wrap {
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    width: 100%;
    list-style: none;
}

.policy__item {
    padding: 3px 20px 0;
    line-height: 1rem;
}

.policy-wrap a {
    text-decoration: none;
    color: rgba(0,0,0,0.54);
}

.policy-wrap a:hover {
    color: var(--primary-color);
}

.policy-wrap .policy__item + .policy__item {
    border-left: 1px solid var(--border-color);
}

.copy-right {
    width: 100%;
    margin-top: 30px;
    text-align: center;
    color: rgba(0,0,0,0.65);
}

.footer--2 {
    background-color: #f5f5f5;
}

/* for setting purpose */
.footer--1 {
    /* display: none; */
}

.app__content {
    /* padding-right: 5px; */
}
/* .home-product {
    display: flex;
    justify-content: space-between;
} */

